.logo-region {
  flex: 15.625%;
  max-width: 15.625%;
}

.top-navbar {
  background-color: #181a1b;
}

.logoprimary {
  color: #EC9131;
  font-family: 'Megrim', cursive;
  font-size: 30px;
}

.logomainmenu {
  color: #EC9131;
  font-family: 'Megrim', cursive;
  font-size: 250px;
}

.card-common {
  box-shadow: 1px 2px 5px #999;
}

body {
  background-color: #ff0000;

}

.hidden {
  opacity: 0;
}

body {
  padding-top: 53px;
  background-size: 40px 40px;
  background-color: #ededed !important; 
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px) !important;
}

.bpm-counter {
  color: #EC9131;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  cursor: default;
}